@charset "utf-8";
/*reset*/
* { box-sizing: border-box;}
html, body{
          width:100%;
          height:100%;
          margin:0;
          padding:0;
          font-size:14px;
          color: #444444;
          font-family:'Noto Sans KR', sans-serif, "맑은 고딕","Malgun Gothic";font-weight: 400;
        }

div,dl,dd,dt,h1,h2,h3,h4,h5,h6,p,form,fieldset,select{margin:0;padding:0}  
header,footer,section,article,address,nav{display: block;margin:0;padding:0;}    
ul,ol{list-style:none;margin:0;padding:0;} 
i,em,address{font-style: normal;}   
table{border-collapse: collapse;table-layout: fixed;}
a{text-decoration: none;color: #444444;}
button{background: none;border: none;margin:0;padding: 0;}

/* 최상단 메뉴 */
.top{
  overflow: hidden;
  width: 1184px;
  height: 60px;
  margin: 0 auto;
}

.top .menu ul li{
  float: left;
  margin-left: 32px;
  margin-top: 20px;
  
}
/* 로그인/회원가입/마이페이지 */
.top .menu ul li.my{
  margin-top: 18px;
  font-size: 16px;
  font-weight: 700;
}

.top .menu ul li:first-child{
  margin-left: 0;
}
/* 검색*/
.top .menu ul li.search{
  float: right;
  margin-top: 14px;
  width: 250px;
  height: 30px;
  border: #dddddd 1px solid;
  border-radius: 50px;
}
/* 검색란 */
.top .menu ul li.search .search_go{
  width: 215px;
  height: 26px;
  vertical-align: top;
  border: none;
  background: none;
}
.top .menu ul li.search button img{
  width: 20px;
  height: 20px;
}
.top .menu ul li.search button{
  padding-top: 4px;
  border: none;
  cursor: pointer;
}
/* 로고 및 배너 */
.slogan{
  position: relative;
  overflow: hidden;
  width: 1184px;
  height: 130px;
  margin: 20px auto;
}

.slogan .logo, .slogan .ad{
  display: inline-block;
}
.slogan h1.logo{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.slogan h1.logo img{
  width: 261px;
  height: 74px;
}
.slogan span.ad{
  float: right;
}
.slogan span.ad img{
  width: 211px;
  height: 102px;
}

/* 네비게이션 */
.nvbox{
  overflow: hidden;
  width: 1184px;
  height: 70px;
  margin: 0 auto;
}
.nvbox nav ul{
  display: flex;  
  justify-content: center;
  align-items: center;  
}
.nvbox nav ul li{
  width: 200px;
}

.nvbox nav ul li a{
  display: block;
  font-size: 18px;
  text-align: center;
}

.nvbox nav ul li:first-child{
  width: 192px;
}
.nvbox nav ul li:last-child{
  width: 192px;
}
.nvbox nav ul li:first-child a{
  text-align: left;
}
.nvbox nav ul li:last-child a{
  text-align: right;
}
.nvbox nav ul li:first-child span{
  margin-right: 10px;
}
/* 메인롤링 */
.main .rolling .roll_list a{
  display: block;
  height: 500px;
}

.main .rolling{
  position: relative;
}
/* 메인롤링 동그라미 리모콘 */
.main .rolling .slick-dots{
  position: absolute;
  bottom: 12%;
  left: 32%;
  transform: translate(0,0);
}
.main .rolling .slick-dots li{
  display: inline-block;
  margin-right: 6px;
}
.main .rolling .slick-dots li button{
  width: 12px;
  height: 12px;
  background-color: #a1a1a1;
  border-radius: 50%;
  font-size: 0px;
  outline: none;
}
.main .rolling .slick-dots li.slick-active button{
  background-color: #95c046;
}

.main .rolling .slick-arrow{
  display: none !important;
}

.main .rolling .category {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top:0;
  left: 50%;
  margin-left: -592px;
  width: 174px;
  height: 500px;
}
.main .rolling .category ul li{
  margin: 20px auto;
  padding-left: 20px;
  font-size: 16px;
}

/* 타이틀 */
h1.title{
  margin-bottom: 120px;
  text-align: center;
  font-size: 36px;
}
/* 지금주목할만한상품 */
/* 슬릭 */
.now_wrap .slick-arrow{
  position: absolute;
  top: 50%;
  outline: none;
}
.now_wrap .slick-prev{
  left:-5%;
  background: url(/sidmul-pc/images/left.png) no-repeat;
  width: 20px;
  height: 40px;
  font-size: 0;
  display: none;
}
.now_wrap .slick-next{
  right:-5%;
  background: url(/sidmul-pc/images/right.png) no-repeat;
  width: 20px;
  height: 40px;
  font-size: 0;
  display: none;
}
.now{
  position: relative;
  margin: 110px auto;
  width: 1184px;
}

.now ul .slick-list{
  padding-top: 25px;
  
}
.now ul li{
  float: left;
  position: relative;
  width: calc(100%/4 - 40px);
  margin: 0 26px;
}
.now ul li img{
  width: 100%
}

.now ul li a{
  display: block;
}
.now ul li p{
  text-align: center;
  font-size: 18px;
  color: #808080;
  margin-top: 20px;}

.now ul li em{
  display: block;
  position: absolute;
  width: 40px;
  left: 0px;
  top: -25px;
  border-bottom: #95c046 4px solid;
  text-align: center;
  font-size: 36px;
  color: #808080;
}
/* 주목상품 롤링버튼 제작*/
/* 롤링 동그라미 리모콘 */

/* 서브배너 2종 */
.sub{
  position: relative;
  width: 100%;
  height: 513px;
  background: #ffe9d4;
}
.sub .img_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1184px;
}
.sub .img_box span{
  display:inline-block;
}
.sub .img_box span a{
  display: block;
}
.sub .img_box img{
  width: 583px;
  height: 384px;
}

/* 가장 사랑 받는 제품 */

.loved{
  position: relative;
  width: 1184px;
  margin: 110px auto;
}

.loved .tabs ul{
  text-align: center;
  margin-bottom: 70px;
}
.loved .tabs ul li a{
  display: block;
  line-height: 60px;
}
.loved .tabs ul li{
  display: inline-block;
  width: 194px;
  height: 60px;
  border:#ebebeb 1px solid;
  font-size: 18px;
}
.loved .tabs ul li.on{
  border: #95c046 1px solid;
  font-weight: 700;
}

/* 슬릭버튼 */
.loved .prdt_in .slick-arrow{
  position: absolute;
  top: 50%;
  outline: none;
}
.loved .prdt_in .slick-prev{
  left:-5%;
  background: url(/sidmul-pc/images/left.png) no-repeat;
  width: 20px;
  height: 40px;
  font-size: 0;
  display: none;
}
.loved .prdt_in .slick-next{
  right:-5%;
  background: url(/sidmul-pc/images/right.png) no-repeat;
  width: 20px;
  height: 40px;
  font-size: 0;
  display: none;
}
.loved .ul_wrap{
  display: none;
}
/* 상품영역 */

.loved .prdt{
  position: relative;
  width: 1184px;
}

.loved .prdt .list{
  white-space: nowrap;
}

.loved .prdt .list>li{
  display: inline-block;
  margin: 0 10px;
  position: relative;
}
.loved .bt_box{
  display: none;
}
.loved .prdt .list>li:hover .bt_box{
  display: block;
  position: absolute;
  top:0;
  left: 0;
  width: 368px;
  height: 384px;
  background-color:rgba(0, 0, 0, 0.2);
}

.loved .prdt .list .cos_image .bt_box ul{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.loved .prdt .list .cos_image .bt_box ul li{
  display:inline-block;
  margin:0 2px
}

/* 오버시 아이콘 3종 */
.loved .prdt .list .cos_image .bt_box{
  text-align: center;
}

.loved .prdt .bt_box ul li button{
  width: 50px;
  height: 50px;
  background:rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}
.loved .prdt .bt_box ul li button img{
  width: 27px;
  height: 27px;
  display: inline !important;
}

.loved .prdt .list .cos_image>a{
  display: block;
  margin: 0 10px;
  text-align: center;
  line-height: 384px;
  background-color: #f5f5f5;
}
.loved .prdt .list .cos_image a img{
  display: inline !important;
  max-width: 100%;
  vertical-align: middle;
}
/* 상품정보 */
.loved .prdt .list .text{
  margin-top: 16px;
  text-align: center;
}

.loved .prdt .list .text p:first-child a{
  font-size: 12px;
  color:#ff4d00;
}
.loved .prdt .list .text h4{
  margin-top: 16px;
  font-size: 16px;
}

.loved .prdt .list .text p:last-child{
  margin-top: 16px;
  color:#a1a1a1;
}

/* 시드물 브랜드관 */
.brand{
  position: relative;
  width: 1184px;
  margin: 110px auto;
  text-align: center;
}

.brand .brd_wrap{
  position: relative;
  width: 1184px;
}

.brand .brd_wrap button{
  position: absolute;
  top:50%;
  transform: translate(0,-50%);

}

/* 슬릭버튼 */
.brand .slick-arrow{
  position: absolute;
  top: 50%;
  outline: none;
}
.brand .slick-prev{
  left:-5%;
  background: url(/sidmul-pc/images/left.png) no-repeat;
  width: 20px;
  height: 40px;
  font-size: 0;
  display: none;
}
.brand .slick-next{
  right:-5%;
  background: url(/sidmul-pc/images/right.png) no-repeat;
  width: 20px;
  height: 40px;
  font-size: 0;
  display: none;
}

/* 1.민중기시리즈 */
.brand .brd_wrap ol{
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand .brd_wrap ol li{
  width: 280px;
  margin-right: 16px;
}
.brand .brd_wrap ol li:last-child{
  margin-right:0;
}
.brand .brd_wrap ol li .thum{
  position: relative;
  width: 280px;
  height: 280px;
}
.brand .brd_wrap ol li .thum p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
.brand .brd_wrap ol li .thum a{
  position:relative;
  display: block;
}
.brand .brd_wrap ol li .thum a::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  display: block;
  width: 280px;
  height: 280px;
  background-color:rgba(0,0,0,0.3);
  transition:all .3s ease;
}
.brand .brd_wrap ol li:hover .thum a::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  display: block;
  width: 280px;
  height: 280px;
  background-color:rgba(0,0,0,0)
}
.brand .brd_wrap ol li .thum a img{
  width: 280px;
  height: 280px;
  
}
.brand .brd_wrap ol li .dscrt{
  width: 280px;
  height: 138px;
  border: #b4b4b4 solid 1px;
  border-top: none; 
}
.brand .brd_wrap ol li .dscrt h6{
  font-size: 18px;
  padding: 18px 0;
}
.brand .brd_wrap ol li .dscrt p{
  color:#787878;
}

/*시드물 멤버쉽 혜택 안내  */
.member .tt_box{
  width: 1184px;
  margin: 0 auto;
}
.member .tt_box .title{
  text-align: center;
  margin-bottom:30px ;
}
.member .tt_box .title span{
  font-size: 18px;
  font-weight: 400;
}
.member .tt_box p{
  text-align: center;
  font-size: 16px;
  color:#787878;
}
.member .mem_wrap{
  position: relative;
  width: 1184px;
  height: 340px;
  margin: 0 auto;
}

.member .mem_wrap ol{
  margin-top: 50px;
}
.member .mem_wrap ol li{
  display: inline-block;
  margin-right: 24px;
}
.member .mem_wrap ol li:last-child{
  margin-right: 0;
}
.member .mem_wrap ol li a{
  display: block;
  position: relative;
  width: 206px;
  height: 206px;
  margin-bottom: 30px;
  border-radius: 50%;
  background:#f2f2f2;
}
/* 아이콘 */
.member .mem_wrap ol li a img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width:100%;
}

.member .mem_wrap ol li .dscrt{
  text-align: center;
}
.member .mem_wrap ol li .dscrt h6{
  font-size: 18px;
}
.member .mem_wrap ol li .dscrt p{
  font-size: 16px;
  color: #a1a1a1;
}

/* 보고서 및 동물 실험 2종 */
.trust{
  width: 1184px;
  margin: 110px auto;
}
.trust .report, .trust .animal{
  position: relative;
  display: inline-block;
  width: 580px;
  height: 380px;
}
.trust .report{
  background: url('/sidmul-pc/images/report.png') no-repeat center;
}
.trust .animal{
  background: url('/sidmul-pc/images/animal.png') no-repeat center;
}
.trust .report a, .animal a{
  display: block;
}
.trust .report p, .animal p{
  margin-top: 30px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}
.trust .report span, .trust .animal span{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-color: rgba(154, 154, 154, 0.7)
}

/* 고객후기 */
.review{
  width: 100%;
  height: 500px;
  background-color: #efefef;
}
.review h1.title{
  padding-top: 50px;
  margin-bottom: 40px;

}
.review .rvw_wrap{
  position: relative;
  width: 1184px;
  margin: 0 auto;
}
/* 슬릭버튼 */
.review .slick-arrow{
  position: absolute;
  top: 50%;
  outline: none;
}
.review .slick-prev{
  left:-5%;
  background: url(/sidmul-pc/images/left.png) no-repeat;
  width: 20px;
  height: 40px;
  font-size: 0;
  display: none;
}
.review .slick-next{
  right:-5%;
  background: url(/sidmul-pc/images/right.png) no-repeat;
  width: 20px;
  height: 40px;
  font-size: 0;
  display: none;
}
.review .rvw_wrap ul{
  width: 1184px;
  
}
.review .rvw_wrap ul li{
  display: inline-block;
  overflow: hidden;
  width:520px;
  height:270px;
  margin: 0 10px;
  border: #a1a1a1 solid 1px;
}

.review .rvw_wrap ul li .left_box{
  float: left;
  width:260px;
  height:270px;
}
.review .rvw_wrap ul li .right_box{
  position: relative;
  float: left;
  width:260px;
  height:270px;
  background: #fff;
}

/* 녹색 더보기 플러스 + */
.review .right_box .plus{
  position: absolute;
  top:0%;
  right:-14px;
  background: url('/sidmul-pc/images/triangle.png') no-repeat;
  width:50px;
  height: 60px;
}
.review .right_box .plus a{
  position: absolute;
  top:0%;
  right:10px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
/* 후기 텍스트 */
.review .right_box h5{
  font-size: 18px;
  padding-top: 36px;
  padding: 36px 20px 0 20px;
}
.review .right_box p{
  font-size: 12px;
  color: #a1a1a1;
  padding: 36px 20px 0 20px;
  text-overflow: ellipsis;
}
.review .right_box p:last-child{
  color: #444444;
}
/* 최하단 배너 2종 */
.bt_sub{
  width: 1184px;
  margin: 110px auto;
  overflow: hidden;
}
.bt_sub .txt{
  position: relative;
  text-align: center;
  margin-top: 150px;
  color: #fff;
  z-index: 10;
}
.bt_sub .txt a{
  display: inline-block;
  width: 90px;
  height: 26px;
  margin-top: 15px;
  border: #fff solid 1px;
  color: #fff;
}
.bt_sub .consult{
  position: relative;
  float: left;
  width:580px;
  height:362px;
  background: url('/sidmul-pc/images/consult.png') no-repeat center;
}
.bt_sub .news{
  position: relative;
  float: right;
  width:580px;
  height:362px;
  background: url('/sidmul-pc/images/news.png') no-repeat center;
}

/* 마우스 오버 전 */
.bt_sub .subwrap::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:580px;
  height:362px;
  background-color:rgba(0,0,0,0.3);
  z-index: 0;
} 
/* 마우스 오버 시 */
.bt_sub .subwrap:hover::before{
  background-color:rgba(0,0,0,0.0);
}
.bt_sub .subwrap:hover .txt{
  color: #444444;
  border-color: #444444;
}
.bt_sub .subwrap:hover .txt a{
  color: #444444;
  border-color: #444444;
}

/* 회사소개 sns */
.foot_nv{
  width: 100%;
  height: 50px;
  overflow: hidden;
  border-top: #808080 solid 2px;
  background-color: #efefef;
}
.foot_nv .foot_nv_box{
  width: 1184px;
  height: 100%;
  margin: 0 auto;
  line-height: 50px;
}
.foot_nv ul{
  float: left;
}
.foot_nv ol.sns{
  float: right;
}
.foot_nv ul li, .foot_nv ol li{
  display: inline-block;
}
.foot_nv ul li{
  padding-right: 60px;
}
.foot_nv ol.sns li a{
  width: 33px;
  height: 33px;
}
.foot_nv ol.sns li:nth-child(1){
  background: url('/sidmul-pc/images/sns1.png') no-repeat;
}
.foot_nv ol.sns li:nth-child(2){
  background: url('/sidmul-pc/images/sns2.png') no-repeat;
}
.foot_nv ol.sns li:nth-child(3){
  background: url('/sidmul-pc/images/sns3.png') no-repeat;
}
.foot_nv ol.sns li:nth-child(4){
  background: url('/sidmul-pc/images/sns4.png') no-repeat;
}

/* 로고 및 주소 */
.white{
  width: 1184px;
  height: 252px;
  margin: 0 auto;
}
.white .text_box, .info_box{
  margin-top: 42px;
}
.white .text_box{
  float: left;
}
.white .text_box h1{
  display: inline-block;
  margin-right: 36px;
  line-height: 155px;
  vertical-align: top;
}
.white .text_box h1 img{
  height: 50px;
  vertical-align: middle;
}

.white .text_box .ft_text{
  display: inline-block;
}
.white .text_box .ft_text address{
  color: #808080;
}
.white .text_box .ft_text p{
  margin-top: 30px;
}
/* 상세보기 3종 네모 */
.white .info_box{
  float: right;
  color: #808080;
}
.info_box span{
  display: block;
  width: 182px;
  height: 30px;
  border: #808080 solid 1px;
  margin-bottom: 10px;
  line-height: 28px;
}
.white .info_box .map{
  margin-bottom: 26px;
}
.white .info_box strong{
  float: right;
  margin-right: 10px;
  font-weight: 400;
}
.white .info_box a.seemore{
  width: 14px;
  height: 14px;
  margin-left: 10px;
  color: #808080;
}